.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $white;
    width: 100%;
    height: 100dvh;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease;

    &_active {
        transform: translateX(0);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 60px;
        height: 100%;
    }

    &__logo {
        max-width: 168px;
        width: 100%;
        height: auto;

        a {
            display: inline-block;
            text-decoration: none;

            &:focus {
                outline: 2px solid $rose;
                outline-offset: 2px;
                border-radius: 2px;
            }

            &:focus:not(:focus-visible) {
                outline: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 60px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__link {
        font-weight: 600;
        font-size: 17px;
        line-height: 135%;
        color: $gray;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        transition: color 0.3s ease;

        &:hover {
            color: $rose;
        }

        &:focus {
            outline: 2px solid $rose;
            outline-offset: 2px;
            border-radius: 2px;
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }
    }

    &__close-btn {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus {
            outline: 2px solid $rose;
            outline-offset: 2px;
            border-radius: 2px;
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.hero {
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 5;
    }

    &__holder {
        @include media ("<desktop") {
            position: relative;
            width: 100%;
            height: 50dvh;
            overflow: hidden;
        }

        @include media ("<tablet") {
            height: 345px;
        }
    }

    &__flowers {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 630px;
        width: 100%;
        height: auto;
        z-index: 8;
        display: none;

        @include media ("<desktop") {
            max-width: 400px;
        }

        @include media ("<tablet") {
            max-width: 290px;
            margin-right: -60px;
        }

        &.hero__tab-content_active {
            display: block;
        }
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 4;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease, visibility 0.4s ease;
    }

    &__tab-content {
        &_active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__content {
        padding: 205px 0 105px 0;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media ("<desktop") {
            padding-top: 0;
            padding-bottom: 24px;
        }
    }

    &__tip {
        font-weight: 600;
        @include adaptive-value("font-size", 17, 10, 1);
        color: $gray;
        line-height: 135%;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        position: absolute;
        top: 60px;
        left: 15px;
        z-index: 10;

        @include media ("<desktop") {
            top: 15px;
        }
    }

    &__tabs-buttons {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        column-gap: 5px;
        padding: 8px 0;
        margin-bottom: 7px;

        @include media ("<desktop") {
            width: 100%;
            margin-bottom: 24px;
            grid-template-columns: auto auto auto auto auto auto auto;
        }
    }

    &__tab-button {
        @include adaptive-value("font-size", 16, 12, 1);
        color: $gray;
        line-height: 140%;
        letter-spacing: 0.01em;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: color 0.3s ease;
        position: relative;

        &:hover {
            color: $rose;
        }

        &:focus {
            outline: 2px solid $rose;
            outline-offset: 2px;
            border-radius: 2px;
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &_active {
            color: $rose;
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: $gray;
    }

    &__inner {
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease, visibility 0.4s ease;

        @include media ("<desktop") {
            width: 100%;
            margin: 0 auto;
        }

        &.hero__tab-content_active {
            display: block;
            opacity: 1;
            visibility: visible;
        }

        &:nth-child(1) {
            .hero__title {
                i {
                    &:nth-child(2) {
                        margin-left: 175px;

                        @include media ("<tablet") {
                            margin-left: 35px;
                        }
                    }

                    &:nth-child(3) {
                        margin-left: 50px;

                        @include media ("<tablet") {
                            margin-left: 25px;
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            .hero__title {
                i {
                    &:nth-child(2) {
                        margin-left: 90px;

                        @include media ("<tablet") {
                            margin-left: 65px;
                        }
                    }

                    &:nth-child(3) {
                        margin-left: 50px;

                        @include media ("<tablet") {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        &:nth-child(3) {
            .hero__title {
                i {
                    &:nth-child(2) {
                        margin-left: 175px;

                        @include media ("<tablet") {
                            margin-left: 35px;
                        }
                    }

                    &:nth-child(3) {
                        margin-left: 50px;

                        @include media ("<tablet") {
                            margin-left: 25px;
                        }
                    }
                }
            }
        }

        &:nth-child(4) {
            .hero__title {
                i {
                    &:nth-child(2) {
                        margin-left: 130px;

                        @include media ("<tablet") {
                            margin-left: 65px;
                        }
                    }

                    &:nth-child(3) {
                        margin-left: 50px;

                        @include media ("<tablet") {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        @include adaptive-value("font-size", 96, 35, 1);
        margin-bottom: 22px;

        i {
            display: inline-block;
            font-style: normal;
        }
    }

    &__inner-block {
        max-width: 345px;
        width: 100%;
        margin-left: 50px;

        @include media ("<desktop") {
            margin: 0;
        }
    }

    &__description {
        @include adaptive-value("font-size", 18, 16, 1);
        color: $black;
        line-height: 140%;
        margin-bottom: 22px;

        @include media ("<tablet") {
            margin-bottom: 12px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 12px;
    }

    &__button {
        width: 100%;

        &:nth-child(2) {
            animation-delay: 0.5s;
        }
    }
}

.teams {
    @include adaptive-value("padding-top", 80, 40, 1);
    @include adaptive-value("padding-bottom", 80, 40, 1);

    &__title {
        @include adaptive-value("font-size", 62, 36, 1);
        color: $rose;
        text-align: center;
        margin-bottom: 32px;
    }

    &__inner {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: 32px;
        row-gap: 32px;

        @include media ("<phone") {
            grid-template-columns: 1fr;
            justify-items: center;
            row-gap: 60px;
        }
    }

    &__item {
        width: 100%;

        &:nth-child(1) {
            animation-delay: 0.1s;
        }

        &:nth-child(2) {
            animation-delay: 0.4s;
        }

        &:nth-child(3) {
            animation-delay: 0.6s;
        }

        &:nth-child(4) {
            animation-delay: 0.8s;
        }

        &:nth-child(5) {
            animation-delay: 1s;
        }

        &:nth-child(6) {
            animation-delay: 1.2s;
        }

        &:nth-child(7) {
            animation-delay: 1.4s;
        }

        @include media ("<phone") {

            &:nth-child(1) {
                width: 128px;
            }

            &:nth-child(2) {
                width: 172px;
            }

            &:nth-child(3) {
                width: 261px;
            }

            &:nth-child(4) {
                width: 142px;
            }

            &:nth-child(5) {
                width: 142px;
            }

            &:nth-child(6) {
                width: 97px;
            }

            &:nth-child(7) {
                width: 160px;
            }
        }
    }
}

.delivery {
    @include adaptive-value("padding-top", 100, 28, 1);
    @include adaptive-value("padding-bottom", 75, 14, 1);
    background-color: $white-f8;
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: auto;
        z-index: 1;

        @include media ("<tablet") {
            height: 100%;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include media ("<tablet") {
                object-position: 0 100%;
            }
        }
    }

    &__title {
        margin-bottom: 30px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;

        i {
            display: inline-block;
            font-style: normal;

            &:first-child {
                margin-left: 150px;

                @include media ("<tablet") {
                    margin-left: 0;
                }
            }
        }
    }

    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        column-gap: 32px;
        position: relative;
        z-index: 2;

        @include media ("<tablet") {
            flex-direction: column-reverse;
        }
    }

    &__image {
        margin-bottom: 25px;
    }

    &__content {
        max-width: 640px;
        width: 100%;

        @include media ("<tablet") {
            max-width: 100%;
        }
    }

    &__description {
        @include adaptive-value("font-size", 18, 16, 1);
        color: $black;
        line-height: 140%;
        margin-bottom: 22px;
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 12px;
        margin-bottom: 20px;
    }

    &__input {
        width: 100%;
        padding: 16px;
        border: 1px solid #D8D5D0 !important;
        border-radius: 4px !important;
        caret-color: #D8D5D0 !important;
        @include adaptive-value("font-size", 17, 14, 1);
        color: $black;

        @include placeholder {
            color: $gray !important;
        }

        @include media ("<tablet") {
            padding: 14px 16px;
        }
    }

    &__button {
        @include media ("<tablet") {
           padding: 14px 20px;
        }
    }

    &__map {
        width: 100%;
        height: 296px;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__link {
        color: $rose;

        &:hover {
            text-decoration: underline;
        }
    }
}