.header {

    &__inner {
        position: relative;
        height: 80px;
        padding: 15px 0;

        @include media ("<tablet") {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 16px;
            padding: 12px 0;
            height: 60px;
        }
    }

    &__nav {
        height: 100%;

        @include media ("<tablet") {
            display: none;
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 32px;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        &-list-col {
            display: flex;
            align-items: center;
            column-gap: 32px;
        }

        &-link {
            font-weight: 600;
            font-size: 17px;
            line-height: 135%;
            color: $gray;
            text-transform: uppercase;


            &:hover {
                color: $rose;
                transition: color 0.3s ease;
            }
        }
    }

    &__logo {
        display: inline-block;
        max-width: 168px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include media ("<tablet") {
            position: static;
            transform: none;
            max-width: 122px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__burger {
        width: 32px;
        height: 21px;
        display: none;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 6px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        outline: none;

        @include media ("<tablet") {
            display: flex;
        }

        &-line {
            width: 100%;
            height: 3px;
            background-color: $rose;

            &:nth-child(2){
                width: 50%;
            }

            &:nth-child(3){
                width: 75%;
            }
        }
    }
}