<footer id="contact" class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__content">
        <h4 class="footer__title">Contact us</h4>
        <div class="footer__links">
          <a href="https://www.instagram.com/nolasgarden_losangeles" target="_blank"
            rel="noopener noreferrer" class="footer__link" aria-label="Follow us on Instagram">
            <img src="./images/instagram.svg" alt="" width="24" height="24" aria-hidden="true">
            <span>@nolasgarden_losangeles</span>
          </a>
          <a href="tel:(714)794-9544" class="footer__link" aria-label="Call us">
            <img src="./images/phone.svg" alt="" width="24" height="24" aria-hidden="true">
            <span>(714)794-9544</span>
          </a>
          <a href="mailto:nolasgarden.losangeles@gmail.com" class="footer__link"
            aria-label="Send us an email">
            <img src="./images/mail.svg" alt="" width="24" height="24" aria-hidden="true">
            <span>nolasgarden.losangeles@gmail.com</span>
          </a>
          <p class="footer__link">
            <img src="./images/location.svg" alt="" width="24" height="24" aria-hidden="true">
            <span>Inglewood, CA</span>
          </p>
        </div>
      </div>
      <picture class="footer__logo">
        <img src="./images/big-logo.webp" alt="Nola's Garden logo" width="229" height="157">
      </picture>
    </div>
    <a href="https://improvs.com/" class="footer__created-by" target="_blank" rel="noopener noreferrer" class="created-by">
      <img src="./images/improvs.svg" width="190" height="24" alt="image not found">
    </a>
  </div>
</footer>