<header id="header" class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo">
                <img src="./images/logo.webp" width="168" height="44" alt="Nola`s Garden">
            </a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <div class="header__nav-list-col">
                        <li><a href="#" class="header__nav-link">Services</a></li>
                        <li><a href="#" class="header__nav-link">Portfolio</a></li>
                    </div>
                    <div class="header__nav-list-col">
                        <li><a href="#" class="header__nav-link">Our Story</a></li>
                        <li><a href="#" class="header__nav-link">Contact US</a></li>
                    </div>
                </ul>
            </nav>
            <button class="header__burger">
                <span class="header__burger-line"></span>
                <span class="header__burger-line"></span>
                <span class="header__burger-line"></span>
            </button>
        </div>
    </div>
</header>