<div class="mobile-menu">
    <div class="mobile-menu__inner">
        <div class="mobile-menu__logo">
            <img src="./images/logo.webp" width="168" height="44" alt="Nola`s Garden">
        </div>
        <nav class="mobile-menu__nav">
            <ul class="mobile-menu__list">
                <li><a href="#" class="mobile-menu__link">Services</a></li>
                <li><a href="#" class="mobile-menu__link">Portfolio</a></li>
                <li><a href="#" class="mobile-menu__link">Our Story</a></li>
                <li><a href="#" class="mobile-menu__link">Contact US</a></li>
            </ul>
        </nav>
        <button class="mobile-menu__close-btn">
            <img src="./images/close-icon.svg" alt="Close">
        </button>
    </div>
</div>