<div class="modal-backdrop" id="succes-modal-backdrop" aria-hidden="true"></div>
<div class="modal modal--success" id="succes-modal" role="dialog" aria-modal="true"
    aria-labelledby="succes-modal-title" aria-hidden="true">
    <button class="modal__close-btn" type="button" aria-label="Close modal">
        <img src="./images/close-icon.svg" alt="Close modal" width="24" height="24">
    </button>
    <div class="modal__inner">
        <h2 id="succes-modal-title" class="modal__title">Great news!</h2>
        <p class="modal__description">We currently serve your location. <br> Custom floral
            installations and recurring programs are available in your area.</p>
        <a href="#" class="modal__button btn btn--primary">Contact Us</a>
    </div>
</div>