@keyframes fadeInUpZoom {
    from {
      opacity: 0;
      transform: translate3d(0, 40px, 0) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
  
  .animate__fadeInUpZoom {
    animation-name: fadeInUpZoom;
  }
  