.btn {
    display: inline-block;
    text-align: center;
    padding: 16px 32px;
    border: 1px solid $rose;
    white-space: nowrap;
    @include adaptive-value("font-size", 18, 14, 1);
    transition: all 0.3s ease;

    &--primary {
        background-color: $rose;
        color: $white;

        &:hover {
            background-color: $rose-dark;
        }
    }

    &--secondary {
        background-color: transparent;
        color: $rose;

        &:hover {
            border-color: $gray;
        }
    }
}