// Typography

@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Instrument+Serif:regular,italic);

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: 'Instrument Serif', serif;
    color: $headings-color;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 90%;
	text-transform: uppercase;
	margin: 0;
}

h1,
.h1 {
    font-size: $h1-font-size;
}

h2,
.h2 {
    font-size: $h2-font-size;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

p {
    margin: 0 0 1em;
}

a {
    color: $base-link-color;
    text-decoration: none;
    transition: color .3s ease;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}